/* ============================================= */
/*              Color styles                      */
/* ============================================= */
$color-text: #777;
$color-primary: #58e1c1;
$color-background1: #51ddfc;
$color-button: #fff;
$color-background2: #927bc1;

/* ============================================= */
/*              Base styles                      */
/* ============================================= */

$font-stack-primary: 'Lato', sans-serif;
$font-weight: 300;

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

$breakpoint: 768px;

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    avatar { 
      margin-top: 10px;
      max-width: 100%;
      max-height: 100%;
    }
    frame { 
      margin-top: 10px;
      max-width: 100%;
      padding: 13px;
      border: 1px solid #ccc;
    }
  
  }
