/* ============================================= */
/*              Color styles                      */
/* ============================================= */
$color-text: #777;
$color-primary: #58e1c1;
$color-background1: #51ddfc;
$color-button: #fff;
$color-background2: #927bc1;

/* ============================================= */
/*              Base styles                      */
/* ============================================= */

$font-stack-primary: 'Lato', sans-serif;
$font-weight: 300;

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

$breakpoint: 768px;