/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-button;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
   
  .btn:hover {
    color: lighten($color-button, 15%);  
    transition-property: ease-in;
  }
  
  .default {
    background-color: $color-background1;
    &:hover {
      background-color: lighten($color-background1, 15%);
      transition-property: ease-in;
    }
  }
  
  .error {
    background-color: #e4757a;
    &:hover {
      background-color: lighten(#e4757a, 15%);
      transition-property: ease-in;
    }
  }
  
  .info {
    background-color: $color-background2;
    &:hover {
      background-color: lighten($color-background2, 15%);
      transition-property: ease-in;
    }
  }
  
  .success {
    background-color: #63cc82;
    &:hover {
      background-color: lighten(#63cc82, 15%);
      transition-property: ease-in;
    } 
  }
  
  .warning {
    background-color: #fd7856;
    &:hover {
      background-color: lighten(#fd7856, 15%);
      transition-property: ease-in;
    }
  }
  